/* These colors are just here for reference. Delete them later */
$primary: #0d6efd;
$secondary: #adb5bd;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #fff;
/* $dark: hsl(0, 0%, 20%); */

/* Site Theme Colors */
$color-redhot: #dc3545;
$color-accent: hsl(77, 29%, 45%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-bg: hsl(27, 38%, 97%);
$color-grayish: mix($color-bg, black, 70%);
$color-light-grayish: mix($color-bg, black, 90%);
$color-hs-info: mix($color-bg, $info, 90%);


.footer-grayish {
    color: $color-grayish;
}

.footer-accent-color {
    color: $color-accent;
}

.site-footer-bg {
    background-color: $color-text;
}

.note-date-text {
    color: $color-subtext;
    font-size: 0.8rem;
    font-weight: 500;
}

.note-stage-text {
    color: $color-subtext;
    font-size: 0.8rem;

}

.footer-link {
    color: $color-bg;
    transition: color 500ms;
    &:hover {
        color: $color-grayish;
    }    
}

.site-footer-text {
    font-size: 0.8rem;
    color: $color-bg;
    text-decoration: none;
}

.site-header-title {
    font-family: 'Bitter', serif;
    font-size: 1.4rem;
    color: $color-text;
    transition: color 500ms;
    &:hover {
        color: $color-redhot;
    }
}

.nav-link {
    color: $color-subtext;
    transition: color 500ms;
    &:hover {
        color: $color-redhot;
    }    
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-text;
    background-color: $color-bg;
}

.tag-in-list {
    color: $color-text;
    background-color: $color-light-grayish;
    border-bottom-style: none;
    text-transform: lowercase;
    font-size: 0.8rem;
    padding: 0.2rem;
    font-weight: 500;
    border-radius: 8px;
}

a {
    color: $color-text;
    text-decoration: none;
    border-bottom-style: solid;
    border-color: $color-subtext;
    border-width: 1px;
    transition: color 500ms;
    &:hover {
        color: $color-redhot;
    }
}

.a-no-ul {
    border-bottom-style: none;
}

.social-icons {
    color: $color-subtext;
    font-size: 2em;
    &:hover {
        color: $color-redhot;
    }
}

.div-social-icons {
    list-style-type:none; 
    overflow: hidden;
    padding:0;
}

.div-seedling-box {
    border-width: 1px;
    border-style: dotted;
    border-color: $color-grayish;
    background-color: $color-hs-info;
    padding: 1rem;
}