<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchHalfStreet">Search Half Street</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{/* Insert seach here */}}
        <div id="search"></div>
        {{ partial "extensions/algolia.html" . }}
        <div class="pt-4 px-3">
          {{ partial "search/tags-browser.html" . }}
        </div>
        <div class="pt-2 px-3">
          {{ partial "search/maturity-browser.html" . }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>