<div class="container-fluid">
  
  <div class="row">
    <div class="col-lg-10">
      <div id="searchBox" class="pb-3"></div>
    </div>
    <div class="col-lg-2">
      <div id="powered-by" class="pb-3"></div>
    </div>
  </div>

  <section class="section-sm">
    <div class="container">
      <div class="row no-gutters justify-content-center">
        <div class="col-lg-12">
          <div class="row">
            <div id="searchResults"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "extensions/search-algolia.html" . }}
  
</div>

