{{ $backlinks := slice }}
{{ $page_title := .page.Title }}
{{ $page_title_re := printf `\[\[(?i)%s(?-i)\|?.*\]\]` $page_title }} {{/* Regex for finding piped or regular wikilinks to this page */}}

{{ range where site.RegularPages "RelPermalink" "ne" .page.RelPermalink }} {{/* Search all pages besides the current page */}}
    {{ if (findRE $page_title_re .RawContent 1) }}
        {{ $backlinks = $backlinks | append . }}
    {{ end }}
{{ end }}

{{ with $backlinks }}
    <section class="backlinks">
        {{ printf "%s" ($.heading | default "<h2>Backlinks</h2>") | safeHTML }}
        <nav>
            <ul>
                {{ range . }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </section>
{{ end }}