<h1 class="ms-1">{{ .Title }}</h1>
<div class="row ms-4">
  {{ $date := .Date.Format "Jan 2, 2006" }}
  {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
  <div class="col-lg note-date-text">Published: {{ $date }}</div>
  {{ with ne $date $lastmod }}
    <div class="col-lg note-date-text">Modified: {{ $lastmod }}</div>
  {{end}}
  <div class="col-lg note-stage-text">{{- partial "note/stage-of-growth.html" . -}}</div>
</div>
<div id="tags-single" class="ms-4 d-flex flex-row">
  {{ range .Params.tags }}
      <div class="p-1">
        <span class="tag-in-list">
          <i class="bi bi-tag"></i>
          <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="a-no-ul">{{ . }}</a>
        </span>
      </div>
  {{ end }}
</div>
