<h1 class="ms-1">{{ .Title }}</h1>
<div class="hstack ms-2 gap-2">
  {{ $date := .Date.Format "Jan 2, 2006" }}
  {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
  <div class="note-date-text">Published: {{ $date }}</div>
    {{ with ne $date $lastmod . }}
      <div class="vr"></div>
      <div class="note-date-text-400">Modified: {{ $lastmod }}</div>
      <div class="vr"></div>
      <div class="note-stage-text">
        <a href="https://github.com/halfst/half.st/commits/master/content/notes/{{ $.File.BaseFileName -}}.{{- $.File.Ext -}}">View History</a>
      </div>
    {{end}}
  </div>
<div class="hstack ms-3 gap-2">
  <div id="tags-single" class="d-flex flex-row">
    {{ range .Params.tags }}
        <div class="p-1">
          <span class="tag-in-list">
            <i class="fa fa-tag pe-1"></i><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="a-no-ul">{{ . }}</a>
          </span>
        </div>
    {{ end }}
  </div>
  <div class="vr"></div>
  <div class="note-stage-text">
    {{- partial "note/stage-of-growth.html" . -}}
  </div>
</div>