{{ if eq .Params.stageOfGrowth "seedling" }}

        <i class="fa-solid fa-seedling"></i> 
        <a href="#" tabindex="0" data-bs-trigger="hover focus" class="note-header-stage" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-title="Seedling" 
            data-bs-content="This note is a seedling. Over time it will become a mature thought, but for now it's still in development.">
            Seedling
        </a>
    
    {{ else if eq .Params.stageOfGrowth "sapling" }}
        
            <i class="fa-brands fa-pagelines"></i> 
            <a href="#" tabindex="0" data-bs-trigger="hover focus" class="note-header-stage" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-title="Sapling" 
                data-bs-content="This note is a sapling. It's still a work in progress, but it should be readable.">
                Sapling
            </a>

            {{ else if eq .Params.stageOfGrowth "evergreen" }}

                <i class="fa-solid fa-tree"></i>
                <a href="#" tabindex="0" data-bs-trigger="hover focus" class="note-header-stage" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-title="Evergreen"  
                    data-bs-content="This note is an evergreen. It's considered a fully developed thought. It may still be updated from time to time.">                
                    Evergreen
                </a>
              
            

{{ end }}

