<ul class="ul-social-icons">
    <li class="social-icons">
        <a href="https://www.github.com/halfst" class="a-no-ul" aria-label="Github">
            <i class="bi-github" role="img" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-icons">
        <a href="https://www.twitter.com/_halfst" class="a-no-ul" aria-label="Twitter">
            <i class="bi-twitter" role="img" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-icons">
        <a href="https://ejl.st" class="a-no-ul" aria-label="Professional Profile">
            <i class="bi-file-person" role="img" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-icons">
        <a href="https://t.me/ethanjlewis" class="a-no-ul" aria-label="Telegram">
            <i class="bi-telegram" role="img" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-icons">
        <a href="https://www.paypal.me/ethanjoshualewis"  class="a-no-ul" aria-label="Paypal">
            <i class="bi-paypal" role="img" aria-hidden="true"></i>
        </a>
    </li>
</ul>