{{ define "main" }}
<main>
  <div class="container">
    <div class="row p-5">
      <div class="col-lg-3">
        <img class="rounded-circle mx-auto d-block img-fluid" src="{{.Site.Params.about.pfpURL}}" alt="profile picture"/>
        {{- partial "about/social-media-links.html" . -}}
      </div>
      <div class="col-lg-9">
        <h1 class="pt-2">{{ .Site.Params.about.pageTitle }}</h3>
        {{ .Site.Params.about.pageContent | markdownify }}
      </div>
    </div>
  </div>
</main>
{{ end }}