{{ define "main" }}
<main>
  <div class="container pb-5">

    <div class="row p-2 pb-4 pt-4">
      <div class="col">
        {{- partial "note/note-header.html" . -}}
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-9">
        {{- partial "note/content-with-wikilinks.html" . -}}
      </div>
      <div class="col-md-3">
        {{ partial "note/backlinks.html" (dict "page" . "heading" "<h4>Links to this note</h4>") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        {{ partial "note/comment-section.html" . }}
      </div>
    </div>

  </div>
</main>
{{ end }}