{{ define "main" }}
<main>
  <div class="container pb-5">
    <div class="row pb-2 pt-3">
      <div class="col-md-8">
        {{- partial "note/note-image.html" . -}}
      </div>
    </div>
    <div class="row p-2 pb-2 pt-1">
      <div class="col">
        {{- partial "note/note-header.html" . -}}
      </div>
    </div>
    <div class="row pb-5">
      <article class="col-md-8">
        {{- partial "note/content-with-wikilinks.html" . -}}
      </article>
      <div class="col-md-4">
        <div class="mb-5">
          {{ partial "note/backlinks-wikilinks.html" (dict "page" . "heading" "<h3>Notes linking here</h3>") }}
        </div>
        <div>
          {{ partial "utility/share-buttons" . }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        {{- partial "note/comment-section.html" . -}}
      </div>
    </div>
  </div>
</main>
{{ end }}