<footer class="footer site-footer-bg mt-auto">
  <div class="container-md pt-2 pb-4">
    <div class="row py-2">
      <div class="col">
        <ul class="nav flex-column flex-md-row">
          <li class="nav-item p-2">
            <a href="/" class="a-no-ul footer-grayish">Home</a>  
          </li>
          <li class="nav-item p-2">
            <a href="/about" class="a-no-ul footer-grayish">About</a>
          </li>
          <li class="nav-item p-2">
            <a href="https://to.half.st" class="a-no-ul footer-grayish">Bookmarks</a>
          </li>
          <li class="nav-item p-2">
            <a href="/index.xml" class="a-no-ul footer-grayish">RSS</a>
          </li>
        </ul>
      </div>
      <div class="col d-none d-md-flex pb-1 align-items-end justify-content-end">
        <span class="footer-accent-color footer-text d-none d-md-block">{{ .Site.Params.description }}</span>
      </div>
      <div class="col d-flex d-md-none pb-1 align-items-center justify-content-end">
        <img src="/img/assets/footer-icon-192x192.png" width="96px" height="96px" class="d-flex d-md-none" alt="site logo">
      </div>
    </div>
    <div class="hstack gap-2 pt-2 footer-border-top">
      <div class="footer-bottom-text">{{- .Site.Copyright -}}</div>
      <div class="ms-auto"><a href="/privacy" class="footer-bottom-text">Privacy</a></div>
      <div class="vr footer-bottom-text"></div>
      <div><a href="/terms" class="footer-bottom-text">Terms of Use</a></div>
    </div>
  </div>
  {{/* Initialize Bootstrap Popovers */}}
  <script async="false">
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
</footer>