<footer class="footer site-footer-bg">
  <div class="container">
    <div class="py-5">
      <div class="row">
        
        <div class="d-flex col-4 justify-content-start">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted a-no-ul">About</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted a-no-ul">Shared Links</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted a-no-ul">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted a-no-ul">Terms of Use</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted a-no-ul">RSS Feed</a></li>
          </ul>
        </div>

        <div class="d-flex col align-self-center justify-content-center">
          <img src="https://io.halfstreet.io/assets/img/footericon.png" alt="" height="128px" width="128px">
        </div> 

        <div class="d-flex col-4 ">
          <span class="footer-grayish align-self-center"> {{ .Site.Params.description }}</span>
        </div>
  

      </div>
  
      <div class="hstack py-4 my-4 gap-2 border-top">
        <div class="footer-grayish">© {{ now.Year }} {{ .Site.Title }}</div>
        <div class="ms-auto"><a href="#">Privacy</a></div>
        <div class="vr"></div>
        <div class=""><a href="#">Terms of Use</a></div>
      </div>
    </div>
  </div>

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.RelPermalink}}" defer></script>
</footer>