<nav class="navbar navbar-expand-lg">
    <div class="container-md">
        <a class="navbar-brand user-select-none a-no-ul" href="#">
            <img src="https://io.halfstreet.io/assets/img/siteicon.svg" alt="" height="36px" width="36px" 
                class="d-inline-block align-bottom">
            <span class="site-header-title">{{ .Site.Title }}</span>
        </a>
        <div id="navbarMain ms-auto mb-4 mb-lg-0">
            <a class="nav-link a-no-ul" href="#"><i class="bi-search" role="img" aria-hidden="true"></i> Search</a>
        </div>
    </div>
</nav>