<div class="container-md p-3">
    <div class="d-flex">
        <div class="p-2"><a href="{{ .Site.BaseURL }}/index.html"><img src="https://io.halfstreet.io/assets/img/siteicon.svg" alt="site logo" height="40px" width="40px"></a></div>
        <div class="p-2 align-self-center unselectable"><a class="site-header-title" href="{{ .Site.BaseURL }}/index.html">Half Street</a></div>
        <div class="ms-auto align-self-center"><i class="bi-search " role="img" aria-label="Search"></i></div>
    </div>
</div>