
<table class="table">
    <thead><tr><h5>Featured Note</h5></tr></thead>
    <tbody>
      
      {{- range sort (where site.RegularPages ".Params.featured" true) ".Params.lastmod" "desc" | first 1 }}
        {{ $u := first 1 .Params.images }}
        {{ $u := printf "%s" $u }}
        {{ $u := strings.TrimLeft "[" $u }}
        {{ $u := strings.TrimRight "]" $u }}
        <tr>
          <th scope="col">
            <a href="{{ .Permalink }}" class="a-no-ul">
              <div><img src="{{$u | safeURL}}" alt="{{ .Params.imagealt }}" class="img-fluid rounded"></div>
              <h3>{{ .Title }}</h3>
            </a>
              <div class="recent-activity-date-text pb-1">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Posted&nbsp;{{.Date.Format "Jan 2, 2006"}}
              </div>
              <span class="recent-activity-summary">{{ .Summary }}</span><br>
              <a href="{{ .Permalink }}" class="recent-activity-summary">Read more</a>
          </th> 
        </tr>
      {{end}}
    </tbody>
  </table>