<h5>Recent Activity</h5>
<table class="table mt-n5">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    {{- range sort ( where site.RegularPages "Section" "notes" ) ".Params.lastmod" "desc" | first 4 }}
      <tr>
        <td class="d-none d-lg-table-cell"><img src="{{ .Params.image }}" alt="{{ .Params.imagealt }}" width="120px" height="63px"></td>
        <th scope="col"><a href="{{ .Permalink }}" class="a-no-ul">{{ .Title }}<p class="recent-notes-summary">{{ .Summary }}</p></a></th> 
        <td>{{ .Params.lastmod.Format "1/2/06" }}</td>
        <td class="d-none d-md-table-cell">
          {{ range .Params.tags }}
            <span class="tag-in-list m-1 nobr">
              <i class="fa fa-tag pe-1"></i><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="a-no-ul">{{ . }}</a>
            </span>
          {{ end }}
        </td>  
      </tr>
    {{end}}
  </tbody>
</table>