<h5>Recent Notes</h5>
<table class="table mt-n5">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    {{- range ( where site.RegularPages "Section" "notes" | first 3 ) }}
      <tr>
        <th scope="col" class="d-none d-lg-table-cell"><img src="{{ .Params.image }}" alt="{{ .Params.imagealt }}" width="120px" height="63px"></th>
        <th scope="col"><a href="{{ .Permalink }}" class="a-no-ul">{{ .Title }}<p class="recent-notes-summary">{{ .Summary }}</p></a></th> 
        <th scope="col">{{ .Date.Format "1/2/06" }}</th>
        <th scope="col" class="d-none d-md-table-cell">
          {{ range .Params.tags }}
            <span class="tag-in-list m-1 nobr">
              <i class="fa fa-tag pe-1"></i><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="a-no-ul">{{ . }}</a>
            </span>
          {{ end }}
        </th>  
      </tr>
    {{end}}
  </tbody>
</table>